<section class="relative w-full h-screen overflow-hidden" data-aos="fade-up">
  <video 
    class="absolute top-0 left-0 w-full h-full object-cover"
    autoplay
    loop
    muted
    playsinline
  >
    <source src="/vid/bg-vid.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="absolute inset-0 bg-black/40 bg-opacity-40"></div>

  <div class="relative z-10 flex items-center justify-center h-full">
    <h1 class=" text-6xl font-bold tracking-wider text-black/60" data-aos="zoom-in" data-aos-delay="300">Modern Furniture</h1>
  </div>
</section>